<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
	class="h-100">
<head>

<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>成功</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/common.css}" rel="stylesheet">

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body class="d-flex flex-column h-100 ">

	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Fixed navbar</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Disabled</a></li>
			</ul>

			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>

		</div>
	</nav>

	<!-- Begin page content -->
	<div class="container pt-3	">
		<table class="table table-bordered" th:object="${user}">
			<tr>
				<th>ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th>USERNAME</th>
				<td th:text="*{username}"></td>
			</tr>
			<tr>
				<th>LAST_NAME</th>
				<td th:text="*{lastName}"></td>
			</tr>
			<tr>
				<th>FIRST_NAME</th>
				<td th:text="*{firstName}"></td>
			</tr>
			<tr>
				<th>LANGUAGE</th>
				<td th:text="*{language}"></td>
			</tr>
			<tr>
				<th>EMAIL</th>
				<td th:text="*{email}"></td>
			</tr>
			<tr>
				<th>EMAIL_VERIFIED</th>
				<td th:text="*{emailVerified}"></td>
			</tr>
			<tr>
				<th>HREF</th>
				<td th:text="*{href}"></td>
			</tr>
			<tr>
				<th>SSO_CONNECTIONS</th>
				<td>
					<ul class="list-group">
						<li class="list-group-item	" th:each="item : *{ssoConnections}"
							th:text="${item}">
					</ul>
				</td>
			</tr>
			<tr>
				<th>ACCOUNT_TYPE</th>
				<td th:text="*{accountType}"></td>
			</tr>
			<tr>
				<th>DATE_LAST_LOGIN</th>
				<td
					th:text="*{#temporals.format(dateLastLogin, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
			<tr>
				<th>DATE_CREATED</th>
				<td th:text="*{#temporals.format(dateCreated, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
			<tr>
				<th>SCOPES_GRANTED</th>
				<td>
					<ul class="list-group">
						<li class="list-group-item	" th:each="item : *{scopes.granted}"
							th:text="${item}">
					</ul>
				</td>
			</tr>
			<tr>
				<th>SCOPES_AVAILABLE</th>
				<td>
					<ul class="list-group">
						<li class="list-group-item	" th:each="item : *{scopes.available}"
							th:text="${item}">
					</ul>
				</td>
			</tr>
		</table>
	</div>


	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>

</body>
</html>

